

<configuration>
  <system.webServer>
    <handlers>
      <add name="mytest" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    
    <directoryBrowse enabled="true" />
        <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

    <modules>
      <remove name="iisnode" />
      <add name="iisnode" />
    </modules>

    <httpProtocol>
      <customHeaders>
        <!-- <add name="Access-Control-Allow-Origin" value="*" /> -->
        <!-- <add name="Access-Control-Allow-Methods" value="GET,OPTIONS,DELETE,POST" />
        <add name="Access-Control-Allow-Credentials" value="true" /> -->
        <!-- <add name="Access-Control-Allow-Headers" value="Content-Type" /> -->
      </customHeaders>
    </httpProtocol>


  </system.webServer>
</configuration>
